<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>tfi-go-fuck GO - Transport for Ireland</title>

    <!---deps -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="tfi-go-fuck/anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>    
    <script src="tfi-go-fuck/res/app.js"></script>

    <link rel="apple-touch-icon" sizes="tfi-go-fuck/180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="tfi-go-fuck/assets/favicon/site.webmanifest">
    <link href="tfi-go-fuck/res/app.css" rel="stylesheet">
    <link rel="shortcut icon" href="tfi-go-fuck/assets/favicon/favicon.ico">

</head>

<body>

    <header>
        <h3 class="title">Buy Ticket</h3>
    </header>

    <div class="container">
    </div> <!---Container -->

    <footer>
        <table class="container">
            <tr class="row">
                <td class="buy col-md-3" id="active"> <button class="btn btn-nav" id="buy"><img src="tfi-go-fuck/assets/img_buy-removebg-preview.png"/><br>Buy </button></td>
                <td class="ticket col-md-3"><button class="btn btn-nav" id="ticket"><img src="tfi-go-fuck/assets/img_ticket-removebg-preview.png"/><br>Ticket</button></td>
                <td class="profile col-md-3"><button class="btn btn-nav" id="profile"><img src="tfi-go-fuck/assets/img_profile-removebg-preview.png"/><br>Profile</button></td>
            </tr>

        </table>

    </footer> <!---Bottom Navigation Bar -->

</body>