<div class="row" style="width: 100%;">
    <div class="passenger" style="padding-top:10%">
        <p style="float:right; color: #00786b;"> One Passenger<br> Per Device </p>
        <img style="float:right;" src="tfi-go-fuck/assets/img_selected_profile.png"/>
    </div>

    <div class="col-xl-12" style="text-align: center; padding-top: 10%;">
        <input class="operator" placeholder="Please type Operator Name" style="width: 100%; text-align: center; border: 0;">
        <hr>
    <div>
        <button class="btn bus_btn" style="width: 100%; height: 20%;"><img style="max-width: 100%; max-height: 100%"  src="tfi-go-fuck/assets/buses/bus_eireann.png"></button><br>
        <button class="btn" style="width: 100%; height: 20%;"><img style="max-width: 100%; max-height: 100%;" src="tfi-go-fuck/assets/buses/tfi_locallink.png"></button>
    </div>
    
    
</div>
</div>