<div class="row">
    <form class="form">
        
        <label for="passenger" class="form-label">Passenger</label>
        <select name="passenger" class="passenger form-control">
            <option value="adult" selected>Adult</option>
            <option value="student">Student/ Young Adult</option>
            <option value="child">Child</option>
        </select>
        <br>

        <label class="form-label">Type</label>
        <select name="type" class="type form-control">
            <option value="lmk-single" selected>Limerick Single Zonal</option>
        </select>

        <label for="zone" class="form-label">Zone</label>
        <select name="zone" class="zone form-control">
            <option value="red-zone" selected>Limerick - Red Zone</option>
        </select>
        <div class="big-journey" style="display: none;">
            <label for="route" class="form-label">Route</label>
            <select name="route" class="route form-control"></select>
            
            <label for="from" class="form-label">Form</label>
            <select name="from" class="from form-control"></select>
            
            <label for="to" class="form-label">To</label>
            <select name="to" class="to form-control"></select>
        </div>
    </form>
    <canvas id="ticketCanvas" width="600" height="300" style="border-radius: 5%;"></canvas>
    <script src="tfi-go-fuck/res/tfi_buy_ticket.js">
    
    </script>
        <p>Expires 28 days after purchase. Valid for 1 journey between origin and destination for one adult. Valid for 90 minutes after acitivation</p>
    <br>
    <p>For further information see <b><u>Conditions of Carriage</u></b></p>
    <button class="btn buy-btn form-control">Continue With Purchase</button>

</div>