<div class="row" style="width: 100%;">
        <table class="profile-table" style="min-width: 100%;">
            <tr class="table-heading"><td style="width: 100%;"><button class="btn btn-sign-in">Sign In</button> </td></tr>
            <tr><td>Account Details</td> <td>></td></tr>
            <tr><td>Profile</td> <td>></td></tr>
            <tr><td class="city" colspan="2"><img src="tfi-go-fuck/assets/limerick-city.jpg"></td></tr>
            <tr><td>Purchase History</td> <td>></td></tr>
            <tr><td>Help & Contact</td> <td>></td></tr>
            <tr class="table-heading"><td>LEGAL</td> <td></td></tr>
            <tr><td><a href="https://transportforireland.ie">transportforireland.ie</a></td> <td>></td></tr>
            <tr><td><a href="https://transportforireland.ie">About</a></td> <td>></td></tr>
            <tr><td><a href="https://transportforireland.ie">Terms & Conditions</a></td> <td>></td></tr>
            <tr><td><a href="https://transportforireland.ie">Privacy</a></td> <td>></td></tr>            

        </table>

        <style>
            .profile-table tr 
            {
                text-align: left;
                margin-bottom: 2%;
                border-bottom: 2px solid #00786b;
            }
            .btn-sign-in
            {
                width: 100%;
                text-align: right;
            }
            .profile-table tr td a
            {
                text-decoration: none;
            }

            .city, .city img
            {
                width: 100%;
                max-height: 500px;
            }
            .profile-table
            {
                margin-left: 2%;
                margin-top: 5%;
            }
            .profile-table tr td:nth-child(odd)
            {
                float: left;
                text-align: left;

            }
            .profile-table tr td:nth-child(even)
            {
                float: right;
                text-align: right;
                color: #00786b;
                text-emphasis: 300;
                font-size: large;
            }
        </style>
</div>