<div class="row" style="width: 100%;">
    <div class="col-xl-12">
        <h2 class="table-heading"> Active Tickets </h2>
        <table class="layout-table active">
            <tr class="ticket">
                <td>
                    <img class="menu-favourite" src="tfi-go-fuck/assets/favourites.svg"/>
                    <button class="btn-ticket">
                        Limerick
                    </button>       
                    <img class="menu-btn" src="tfi-go-fuck/assets/menu.svg">
                </td>
            </tr>
        </table>
            
    </div>
    <div class="col-xl-12">
        <h2 class="table-heading"> Avilable Tickets </h2>
    
    </div>
    <div class="col-xl-12">
        <h2 class="table-heading"> Favourites </h2>
    
    </div>
    <div class="col-xl-12">
        <h2 class="table-heading"> History </h2>
    
    </div>
</div>

<style>
    .layout-table tr td img{
        height: 10%;
        width: 10%;
    }
    .layout-table tr td .menu-favourite
    {
        float: left;
    }
    .layout-table tr td .menu-btn
    {
        float: right;
    }
</style>