
<div class="row">
    <img src="tfi-go-fuck/assets/buses/bus_eireann.png">
    Zone<br>
    <b>Limerick - <br>Red Zone</b>
    
</div>

<style>
    canvas
    {
        height: 300px;
        max-height: 500px;
    }
    .row
    {
        min-height: 45%;
    }
    b
    {
        width: 30%;
    }
</style>

<div class="row" style="position: relative;">
    <canvas id="canvas" class="canvas" width="600px" height="300px" style="position: absolute;"></canvas>
    <canvas id="arrow_canvas" width="600" height="300px" style="position: absolute;"></canvas>
    <canvas id="time_canvas" width="600" height="300px" style="position: absolute;" ></canvas>

    <script src="tfi-go-fuck/res/tfi_ticket_canvas.js"></script>
</div>

<div class="row">
    Name
    <b class="ticket-name">Alex Ryan</b>
    Passenger
    <b class="ticket-passenger">Adult</b>
    Operator
    <b class="ticket-operator">Bus Eireann</b>
    Ticket-ID
    <b class="ticket-id">1988163</b>
    Zone
    <b class="ticket-zone">Limerick -Red Zone</b>
    Activation
    <b class="ticket-time">27/07/2024 13:11</b>
    Valid Until
    <b class="ticket-time">27/07/2024 14:41</b>
</div>

<div class="row">
    Expires 28 days after purchase Valid for 1 journey for one adult within selected Limerick Zone.
    <canvas class="canvas-moving-logo"             width="100%" height="5%"></canvas>
        </div>
    
<div class="row qr-code"><img src="/tfi-go-fuck/assets/QR_code.png"></div>


