// Body
$body-bg        : #333;
$primary-color  : #E56b6f;
$secondary-color: #Eaac8b;
$teriary-color  : #355070;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.8;

