// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.btn{
    color:$teriary-color;
    font-family: cursive;
}

body, .modal-content{
    background-color: $body-bg;
}

.container{/* Page Layout Sizing*/
    max-width: 80%;
    color: $secondary-color;
}

header, .modal-header{
    background-color: $primary-color;
    margin-bottom: 2%;
    font-family: cursive;
}

footer, .modal-footer{
    margin-top:10%;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    background-color: $primary-color;
    color: #333;
    text-align: center;
    p{
        margin-top: 4%;
        padding-top:2%;
    }
}

h1, h2,h3{
    margin-bottom: 2%;
    color: $secondary-color;
}
a{
    text-decoration: none;
    color: $teriary-color;
}

a:hover {
    cursor:pointer; 
    color: $secondary-color;
}

.nav-tabs.nav-item.nav-link.active{
    background-color: $primary-color;
    color: $body-bg;
}

.nav-tabs.nav-item.nav-link{
    background-color: $body-bg;
    color: $primary-color;
    
}
.btn-danger{
    color: aliceblue;
}


/* Start Home Recent Field Set */
legend{
    font-family: cursive;
    a{
        color:$primary-color;
    }
}

fieldset{
    border: solid 10px;
    border-style:inset;
    border-color: $primary-color;
    border-radius: 4px 25px 0 0;
    padding: 2%;
    height:100%;
}