@import 'variables';


.card-title{
    background-color: $primary-color;
    padding-top: 5%;
    margin: 0;
    height: 5rem;
    width:100%;
    text-align: center;

}

.card-img-top{
    height: 300px;
}
 .card-text{
    border: solid 3px;
    border-color: $primary-color;
    border-radius: 0 0 25px 5px;
    border-style:inset;
    margin: 0%;
    padding: 4%;
    text-align: center;
    height: 350px;

}

.card-body{
    padding: 0;
}