@import 'variables';


.table-img{
    width: 84px;
    height: 114px;
}
#filmTable_wrapper,#filmTable_length{
    border-radius: 20px;
    padding:1%;
}
#filmTable_wrapper{
    
    border: solid 6px;
    border-style:inset;
}
.filmTable thead, .dataTables_wrapper{
    background-color: white;

}