.card-title {
  background-color: #a41623;
  padding-top: 5%;
  margin: 0;
  height: 5rem;
  width: 100%;
  text-align: center;
}

.card-body:hover, .card-title:hover, .card-img-top:hover
 {
  color: white;
}

.card-img-top {
  height: 30vh;
}

.card-text {
  border: solid 3px;
  border-color: #a41623;
  border-radius: 0 0 25px 5px;
  border-style: inset;
  margin: 0%;
  padding: 4%;
  text-align: center;
  height: 20vh;
  overflow:hidden;
  border-bottom: 1%;
}

.card-text::-webkit-scrollbar {
  display: none;
}

.card-body {
  padding-bottom: 4%;
}
