.table-img {
  width: 84px;
  height: 114px;
  transition: transform 0.3s ease-in-out; /* Smooth transition for the scale effect */

}

#filmTable_wrapper, #filmTable_length {
  border-radius: 20px;
  padding: 1%;
}

#filmTable_wrapper {
  border: solid 6px;
  border-style: inset;
}

.filmTable thead, .dataTables_wrapper {
  background-color: white;
}


td a
{
  color: black;
}

td a:hover
{
  font-weight: bold;
  font-size: large;
}

.table-img:hover
{
}

tr:hover
{
  color: red;
  font-weight: bold;
}


tr:hover img
{
  transform: scale(1.4);
}