/*================================================================
Default Styles
================================================================*/
body
{
    max-height: 100%;
}


.wrapper{
  width:100%;
  margin-left: auto ;
  margin-right: auto ;
  position:relative;
  z-index: 2;
}

.scene {
  padding: 0;
  margin: 0;
}
/*================================================================
Starry Sky
Trick created by Andrey https://www.script-tutorials.com/night-sky-with-twinkling-stars/
================================================================*/
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  overflow: hidden;
}

.floaters
{
    font-size: 1px;
}

.stars {
  background:#000 url(https://www.land-of-web.com/wp-content/uploads/2016/08/stars.png) repeat;
  z-index:0;
}
 
 .twinkling {
  background:transparent url(https://www.land-of-web.com/wp-content/uploads/2016/08/twinkling.png) repeat;
  z-index:1;
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

/*================================================================
Animation - Move Up and Move Down Letters
================================================================*/
/*================================================================
Move Up
================================================================*/
@keyframes moveUp {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
     
    50% {
        transform: translate3d(0px, 10px, 0px);
        animation-timing-function: ease-out;
    }
     
    100% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
}
@-webkit-keyframes moveUp {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
     
    50% {
        transform: translate3d(0px, 10px, 0px);
        animation-timing-function: ease-out;
    }
     
    100% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
}
@-moz-keyframes moveUp {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
     
    50% {
        transform: translate3d(0px, 10px, 0px);
        animation-timing-function: ease-out;
    }
     
    100% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
}
@-ms-keyframes moveUp {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
     
    50% {
        transform: translate3d(0px, 10px, 0px);
        animation-timing-function: ease-out;
    }
     
    100% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
}

.moveUp{
    animation: moveUp 2s infinite;
}
/*================================================================
Move Down
================================================================*/
@keyframes moveDown {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
     
    50% {
        transform: translate3d(0px, -10px, 0px);
        animation-timing-function: ease-out;
    }
     
    100% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
} 
@-webkit-keyframes moveDown {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
     
    50% {
        transform: translate3d(0px, -10px, 0px);
        animation-timing-function: ease-out;
    }
     
    100% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
} 
@-moz-keyframes moveDown {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
     
    50% {
        transform: translate3d(0px, -10px, 0px);
        animation-timing-function: ease-out;
    }
     
    100% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
} 
@-ms-keyframes moveDown {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
     
    50% {
        transform: translate3d(0px, -10px, 0px);
        animation-timing-function: ease-out;
    }
     
    100% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
} 

.moveDown{
    animation: moveDown 2s infinite;
}
/*================================================================
PARALLAX
================================================================*/
ul#scene {
	list-style-type:none;
}

.layer {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
}

li.layer p {
	color:white;
	text-decoration:none;
	text-shadow: 3px 3px 3px #ccc; 
	display: block; 
}
li.layer:nth-child(1) {} /*1 item*/

/*-----Logotype----------------*/
li.layer:nth-child(2) p{
	font-size:3.5vw;
    text-align: center;
	color:white;
	text-shadow: 2px 2px 2px #ccc;
	padding:1%;
	border:2px solid white;
	border-radius:5px;
	box-shadow:2px 2px 2px #ccc;
	position: absolute;
    top:30vh;
	left:25vw;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 100000;
}

h1 p a:hover{
    color: gold;
    text-decoration: underline;
}
a{
    text-decoration: none;
}



p img{
    height: 10vh;
    width: 10vw;
}

/*----- Mario Sleep ----------------------*/
li.layer:nth-child(3) p{
	font-size:5vw;
	position:absolute;
	top:12vh;
	left:7vw;
}
li{
    list-style-type: none;
}
/*-----O---------------------*/
li.layer:nth-child(4) p{
	font-size:8vw;
	position:absolute;
	top:40vh;
	left:22vw;
}

/*----- Home Dance ---------------------*/
li.layer:nth-child(5) p{
	font-size:6vw;
	position:absolute;
	bottom:24vh;
	left:9vw;
}

/*----- HOTDOG ---------------------*/
li.layer:nth-child(6) p{
	font-size:3.5vw;
	position:absolute;
	bottom:7vh;
	left:27vw;
}

/*----- Sunny ---------------------*/
li.layer:nth-child(7) p{
	font-size:3.5vw;
	position:absolute;
	top:4vh;
	left:30vw;
}

/*----- Snoop ---------------------*/
li.layer:nth-child(8) p{
	font-size:3.5vw;
	position:absolute;
	top:10vh;
	left:50vw;
}

/*----- Kirby ---------------------*/
li.layer:nth-child(9) p{
	font-size:5vw;
	position:absolute;
	top:15vh;
	right:15vw;
}

/*-----I---------------------*/
li.layer:nth-child(10) p{
	font-size:6vw;
	position:absolute;
	bottom:15vh;
	right:10vw;
}
/*-----O---------------------*/
li.layer:nth-child(11) p{
	font-size:6.5vw;
	position:absolute;
	bottom:5vh;
	right:37vw;
}
li.layer:nth-child(12) p{
	font-size:6.5vw;
	position:absolute;
	bottom:10vh;
	left:30vw;
}

