header, footer
{
    height: 7%;
    text-align: center;

}
.container
{
    height: 86%;
    overflow-y: hidden;
}

header, .buy_btn
{
    padding-top: 2%;
    background-color: #14837b;
    color: white;
}

.form-control
{
    border: 0 0 2px 0 solid green;
}

header, footer, body
{
    width: 100%;
}

footer
{
    border-top:#14837b solid 0.5px;
    position: bottom;

}

.passenger
{
    float: right;
}

.row td
{
    width: 33%;
    text-align: center;

}

.table-heading
{
    width: 100%;
    background-color: #abdde4;
    color: #408081
}

.container
{
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
}

.row
{
    min-height: 100%;
}

/* Hide scrollbar for all scrollable containers */
.container {
    overflow: auto; /* Enables scrolling */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  
  /* For WebKit browsers (Chrome, Safari, iOS) */
  .container::-webkit-scrollbar {
    display: none;
  }
  