<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>TFI GO - Transport for Ireland</title>

    <!---deps -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>    
    <script type="module" src="res/app.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <link href="res/app.css" rel="stylesheet">
    <link rel="shortcut icon" href="assets/favicon/favicon.ico">

</head>

<body>

    <header>
        <h3 class="title">  Ticket</h3>
    </header>
    <footer>
        <table class="container">
            <tr class="row">
                <td class="buy col-md-3" id="active"> <button class="btn btn-nav"  data-toggle="modal" id="buy"><img src="assets/img_buy-removebg-preview.png"/><br>Buy </button></td>
                <td class="ticket col-md-3"><button class="btn btn-nav" id="ticket"><img src="assets/ticket-simple-svgrepo-com.png"/><br>Ticket</button></td>
                <td class="profile col-md-3"><button class="btn btn-nav" id="profile"><img src="assets/img_profile-removebg-preview.png"/><br>Profile</button></td>
            </tr>

        </table>

    </footer> <!---Bottom Navigation Bar -->

</body>

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>